@charset "UTF-8";
/*==================================
font-family: 'Roboto', sans-serif;
==================================== */


/*=========== TABLE OF CONTENTS ===========
1.  General css (Reset code)
3.  Top-area
3.  Main-banner
4.  Product
5.	Product-view
6. 	Footer
==========================================*/

/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/

*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	color:#a09e9c;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #343a3f;
	font-size:16px;
	padding:0;
    font-weight: 500;
    text-transform: capitalize;
}
h1,h2,h3,h5,h6 { 
	margin: 0;
    color:#343a3f;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
h4 {
  font-weight: bold;
  color:#000000;
  font-size: 28px;
}
h7 {
  font-weight: bold;
  color:#e9b821;
  font-size: 16px;
}
 h7 {
  font-weight: bold;
  color:#0c0269;
  font-size: 16px;
}
h8 {
  font-weight: bold;
  color:#0486d1;
  font-size: 16px;
}
h9 {
  font-weight: bold;
  color:#e9b821;
  font-size: 16px;
}
h10 {
  font-weight: bold;
  color:#f59905;
  font-size: 16px;
}
h11 {
  font-weight: bold;
  color:#f51105;
  font-size: 16px;
}
p {
	margin: 0;
	color:#767f86;
	font-size:14px;
    line-height: 1.8;
    text-transform: initial;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
	
}
select,input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 12px;}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}

/* section-header */
.section-header{
    position: relative;
    text-align: center;
}

/* 최신매물 */
.section-header h2{
    color: rgb(0, 0, 0);
    font-size:24px;
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.section-header h2 span{text-transform: lowercase;}
.section-header p{
    font-size:16px;
}
/* section-header */
.fix{position: relative;clear: both;}
/*=============Style css=========*/

.read-more {
	margin-top: 10px;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	
}
.read-more-btn {
    font-size:  17px;
    color:  #fff;
    width:  150px;
    height:  50px;
    background:  #ff545a;
    text-transform:  capitalize;
    border-radius: 3px;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}

.read-more-btn:hover{/*background: #fd4043;*/background: #f43032;}


/*-------------------------------------
        2. Top-area
--------------------------------------*/
nav.navbar.bootsnav {
    background-color:#fff;
    border-bottom: transparent;
}
.wrap-sticky nav.navbar.bootsnav.sticked {background-color: #fff;box-shadow: 0 2px 5px rgba(0,0,0,.2);}

/*.navbar-brand*/
.navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus {
    display: inline-block;
    color: #1b1e20;
    font-size: 20px;
    font-weight: 700;
    padding: 34px 10px;
    text-transform:capitalize;
}
.navbar-header a.navbar-brand span{display: inline-block;color:rgb(255, 128, 0);text-transform:capitalize;}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {padding:30px 0px;}
/*.navbar-brand*/

/* 검색창 */
.search-form {
  position: relative;
  top: 22px;
  width: 500px;
  right: 13px;
  color: rgb(0, 0, 0);
}

.search-form input {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.search-form img {
  position : absolute;
  width: 17px;
  top: 12px;
  right: 12px;
  margin: 0;
}

/*.nav li*/
/* 네비게이션바 글자색 설정 */
nav.navbar.bootsnav ul.nav > li > a {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    font-weight: bold;
    text-transform:uppercase;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
/* 네비게이션바 색상 설정 */
nav.navbar.bootsnav ul.nav > li > a {padding:34px 21px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus{color: rgb(255, 128, 0);}
nav.navbar.bootsnav ul.nav > li.active>a {color: rgb(255, 128, 0);}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}
.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a{padding:34px 21px;}
/*.nav li*/

/*.menu-ui-design*/
.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
    width:5px;
}
.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #ff545a;
}
/*.menu-ui-design*/

/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    border: 1px solid #ff545a;
    padding: 10px;
    top: 0;
}
nav.navbar.bootsnav .navbar-toggle i{color: #ff545a;}
/*.navbar-toggle */

/*-------------------------------------
        3.  Main-banner
--------------------------------------*/
.main-banner {
    position: relative;
    background:url(../images/main-banner/banner.png)no-repeat;
    background-position:center;
    background-size:60% 140%;
    text-align: center;
    height:500px;
    z-index: 1;
}

/*-------------------------------------
        4. Product
--------------------------------------*/
.product-status {
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: bold;
    text-align: right;
} 

.product-use {
	display: none;
}

/* 상품 소개 배경색 */
.product{
    padding:40px 0 20px;
    background: #f8fafb;
}

.product-content{margin-top: 40px;}

/* 상품 설명 */
.single-product-item {
    background: #fff;
    border: 1px solid #edeff1;
    border-radius: 3px;
    margin-bottom: 25px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}

/* 상품이미지 설정 */
.single-product-img {
	position:relative;
	overflow: hidden;
	width: 358px;
    height: 358px;
}

/* 메인페이지 상품 설명 간격 */
.single-product-txt {
    padding: 26px 25px 24px 15px;
}
.product-name {
	color: rgb(0, 0, 0);
	font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.product-price {
	color: rgb(128, 128, 128);
	line-height: normal;
	font-size: 15px;
    font-weight: normal;
    text-align: left;
}
.product-address {
	color: rgb(128, 128, 128);
	line-height: normal;
	font-size: 14px;
    font-weight: normal;
    text-align: left;
}
.product-map-icon{
	text-align: right;
	}

.product-map-icon a svg {
    width: 20px;
    height: 20px;
    margin-left: 23px;
    color: #767f86;
}
.product-map-icon a svg:hover{color: #f63138;}
.single-product-item:hover{box-shadow: 0 10px 20px rgba(21,19,19,.2);}

/*-------------------------------------
        5. Product-view
--------------------------------------*/
/* 상품 설명 */
.single-product-view-item {
	display: inline-block;
	margin:0 auto;
	width: 729px;
    height: 500px;
    background: #fff;
    margin-bottom: 25px;
}

/* 상품이미지 설정 */
.single-product-view-img {
	display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.single-product-view-txt {
    padding: 26px 25px 24px 15px;
}

.nickname {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
}

.region-name {
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 1.46;
    float:left;
}

.product-time {
    color: rgb(128, 128, 128);
    font-size: 15px;
    line-height: 1.46;
    float:right;
}

.product-title {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.6px;
}

.product-price {
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: 600;
    line-height: 1.76;
    letter-spacing: -0.6px;
}

.product-content {
	color: rgb(0, 0, 0);
    font-size: 19px;
    line-height: 1.6;
    letter-spacing: -0.6px;
    margin: 16px 0;
    word-break: break-all;
}

.cht-btn {
    font-size:  17px;
    color:  #fff;
    width:  150px;
    height:  50px;
    background:  rgb(255, 148, 96);
    text-transform:  capitalize;
    border-radius: 3px;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
    float:right;
}

.product-view-icon{
	text-align: left;
}


.cht-btn:hover{/*background: #fd4043;*/background: rgb(255, 128, 0);}
.product-view-icon a svg:hover{color: #f63138;}

/*-------------------------------------
        6. Footer
--------------------------------------*/
.footer-menu {padding: 45px 0;}
.footer-menu .navbar-header{padding:0;}
.footer-menu .navbar-header a.navbar-brand,.footer-menu.footer-menu .navbar-header a.navbar-brand:hover,.footer-menu .navbar-header a.navbar-brand:focus{
    padding:0;
    height: 0;
}
.footer-menu ul.footer-menu-item{text-align: right;}
.footer-menu ul.footer-menu-item li{display: inline-block;}
.footer-menu ul.footer-menu-item li a {
    color: #859098;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 40px;
    -webkit-transition:0.3s linear;
    -moz-transition:0.3s linear;
    -o-transition:0.3s linear;
    transition:0.3s linear;
}
.footer-menu ul.footer-menu-item li a:hover{color: rgb(255, 128, 0);}
.hm-footer-copyright {
    padding: 40px 0;
    border-top: 1px solid #e1e5eb;
}
.hm-footer-copyright p,.hm-footer-copyright p a {
    color: #a5adb3;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-social {text-align: right;}
.footer-social .fa-phone:before {
    position: relative;
    top: 2px;
}
.footer-social a ,.footer-social span {
    display: inline-block;
    color: #afb4bf;
    font-size: 14px;
    margin-left: 15px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.footer-social a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #eef2f6;
    text-align: center;
    border-radius: 50%;
}
.footer-social span {margin-right:15px;margin-left: 0;color: #a5adb3;}
.footer-social span:hover{color: #ff545a;}
.footer-social a:hover {background:#ff545a;color: #fff;}

/*===============================
    Scroll Top
===============================*/
#scroll-Top  .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background:rgb(0, 0, 0);
	border:1px solid rgb(0, 0, 0);
	border-radius:50%;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	z-index: 2;
}
#scroll-Top  .return-to-top:hover {
    background:rgb(255, 128, 0);
	border:1px solid rgb(255, 128, 0);
}

#scroll-Top  .return-to-top i{
    position:relative;
    bottom:0;

}

#scroll-Top  .return-to-top i{
    position: relative;
    animation-name: example;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration:1s;
}
@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}

/* ----------------------------------------------------- */





/*========================Thank you=================